---
- name: Install build dependencies
  yum:
    name: "{{ item }}"
    update_cache: yes
  items: "{{ gvm_redhat_build_dependencies }}"
  become: "{{ gvm_nonroot }}"
  when: gvm_is_dependencies_installed
